<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Brands</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../css/style.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<!--<a href="index.html" class="logo">-->
									<!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>-->
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<!--<li><a href="#menu">Menu</a></li>-->
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<!--<nav id="menu">-->
					<!--	<h2>Menu</h2>-->
					<!--	<ul>-->
					<!--		<li><a href="index.html">Home</a></li>-->
					<!--		<li><a href="generic.html">Ipsum veroeros</a></li>-->
					<!--		<li><a href="generic.html">Tempus etiam</a></li>-->
					<!--		<li><a href="generic.html">Consequat dolor</a></li>-->
					<!--		<li><a href="elements.html">Elements</a></li>-->
					<!--	</ul>-->
					<!--</nav>-->

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Animal Cruelty Free Makeup Brands</h1>
							</header>
							<section class="tiles">
								<article>
									<span class="image">
										<img src="../images/benefit.jpg" alt="" />
									</span>
									<a href="https://www.benefitcosmetics.com/us/en">
										<!--<h2>Benefit</h2>-->
										<div class="content">
											<p>Must be tested on animals on countries such as China</p>
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/lush.jpg" alt="" />
									</span>
									<a href="https://www.lushusa.com/">
										<!--<h2>Lush</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/ud.jpg" alt="" />
									</span>
									<a href="http://www.urbandecay.com/on/demandware.store/Sites-urbandecay-us-Site/default/Home-Show">
										<!--<h2>Urban Decay</h2>-->
										<div class="content">
										<!--	<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/kvd.jpg" alt="" />
									</span>
									<a href="http://www.katvondbeauty.com/">
										<!--<h2>Kat Von D</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/abh.jpg" alt="" />
									</span>
									<a href="http://www.anastasiabeverlyhills.com/">
										<!--<h2>Anastasia Beverly Hills</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/hg.jpg" alt="" />
									</span>
									<a href="https://www.hourglasscosmetics.com/">
										<!--<h2>Hourglass</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/tf.jpg" alt="" />
									</span>
									<a href="https://www.toofaced.com/">
										<!--<h2>Too Faced</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/m.jpg" alt="" />
									</span>
									<a href="https://milkmakeup.com/">
										<!--<h2>Milk Makeup</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/ct.jpg" alt="" />
									</span>
									<a href="http://www.charlottetilbury.com/us/">
										<!--<h2>Charlotte Tilbury</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/b.jpg" alt="" />
									</span>
									<a href="https://www.beccacosmetics.com/">
										<!--<h2>Becca</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/jm.jpg" alt="" />
									</span>
									<a href="http://www.josiemarancosmetics.com/">
										<!--<h2>Josie Maran</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								<article>
									<span class="image">
										<img src="../images/tarte.jpg" alt="" />
									</span>
									<a href="http://tartecosmetics.com/">
										<!--<h2>Tarte</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/cfx.jpg" alt="" />
									</span>
									<a href="https://www.coverfx.com">
										<!--<h2>Cover FX</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>	<article>
									<span class="image">
										<img src="../images/bite.jpg" alt="" />
									</span>
									<a href="http://www.bitebeauty.com/">
										<!--<h2>Bite</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/it.jpg" alt="" />
									</span>
									<a href="https://www.itcosmetics.com/home">
										<!--<h2>It Cosmetics</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
									</article>
									<article>
									<span class="image">
										<img src="../images/c.jpg" alt="" />
									</span>
									<a href="https://www.ciatelondon.com/">
										<!--<h2>Ciate London</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/ns.jpg" alt="" />
									</span>
									<a href="https://www.nudestix.com/">
										<!--<h2>Nudestix</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/bm.jpg" alt="" />
									</span>
									<a href="http://www.bareminerals.com/">
										<!--<h2>Bareminerals</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/bux.jpg" alt="" />
									</span>
									<a href="http://www.buxomcosmetics.com/">
										<!--<h2>Buxom</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/elf.jpg" alt="" />
									</span>
									<a href="https://www.elfcosmetics.com/">
										<!--<h2>E.L.F</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/milani.jpg" alt="" />
									</span>
									<a href="https://milanicosmetics.com/">
										<!--<h2>Milani</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/pf.jpg" alt="" />
									</span>
									<a href="https://www.physiciansformula.com/">
										<!--<h2>Physicians Formula</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/wnw.jpg" alt="" />
									</span>
									<a href="http://www.wetnwildbeauty.com/">
										<!--<h2>Wet N Wild</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/sk.jpg" alt="" />
									</span>
									<a href="https://www.target.com/c/sonia-kashuk/-/N-5q0g7">
										<!--<h2>Sonia Kashuk</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/nyx.jpg" alt="" />
									</span>
									<a href="http://www.nyxcosmetics.com/">
										<!--<h2>NYX</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
								
									</article>
									<article>
									<span class="image">
										<img src="../images/pacifica.jpg" alt="" />
									</span>
									<a href="https://www.pacificabeauty.com/">
										<!--<h2>Pacifica</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/essence.jpg" alt="" />
									</span>
									<a href="https://essencemakeup.com/">
										<!--<h2>Essence</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/barrym.jpg" alt="" />
									</span>
									<a href="https://www.barrym.com/">
										<!--<h2>Barry M</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/zoeva.jpg" alt="" />
									</span>
									<a href="https://www.zoevacosmetics.com">
										<!--<h2>Zoeva</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/mug.jpg" alt="" />
									</span>
									<a href="https://www.makeupgeek.com">
										<!--<h2>Makeup Geek</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/colourpop.jpg" alt="" />
									</span>
									<a href="https://colourpop.com/">
										<!--<h2>Colourpop</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/g.jpg" alt="" />
									</span>
									<a href="https://www.glossier.com/">
										<!--<h2>Glossier</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/bhc.jpg" alt="" />
									</span>
									<a href="http://www.bhcosmetics.com/">
										<!--<h2>BH Cosmetics</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									</article>
									<article>
									<span class="image">
										<img src="../images/dose.jpg" alt="" />
									</span>
									<a href="https://doseofcolors.com">
										<!--<h2>Dose of Colors</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
									<article>
									<span class="image">
										<img src="../images/pixi.jpg" alt="" />
									</span>
									<a href="https://www.pixibeauty.com/">
										<!--<h2>Dose of Colors</h2>-->
										<div class="content">
											<!--<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>-->
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

			
			</div>

		<!-- Scripts -->
			<script src="../public/js/jquery.min.js"></script>
			<script src="../public/js/skel.min.js"></script>
			<script src="../public/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../public/js/main.js"></script>

	</body>
</html>